@import "../../_variable.less";

@radio-prefix: radio;

.@{prefix}-@{radio-prefix} {
  & input[type="radio"] {
    display: none;
  }

  &[type=plus] {
    line-height: 44px;
    .@{prefix}-@{radio-prefix}-item  {
      display: block;
      & + .@{prefix}-@{radio-prefix}-item {
        border-top: 1px solid @border-color;
      }
    }
    .@{prefix}-@{radio-prefix}-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: sub;
      background: inline("@{assets-path}/images/icon-plus.png") center / 100% 100% no-repeat;
    }
    & :checked ~ span {
      color: @theme-color;
    }
  }

  &[type=check] {
    line-height: 44px;
    .@{prefix}-@{radio-prefix}-item  {
      display: block;
      & + .@{prefix}-@{radio-prefix}-item {
        border-top: 1px solid @border-color;
      }
    }
    .@{prefix}-@{radio-prefix}-icon {
      display: none;
      margin-top: 12px;
      margin-right: 8px;
      width: 20px;
      height: 20px;
      vertical-align: sub;
      float: right;
      background: inline("@{assets-path}/images/icon-check.png") center / 13px 10px no-repeat;
    }
    & :checked ~ span {
      color: @theme-color;
    }
    & :checked ~ .@{prefix}-@{radio-prefix}-icon {
      display: block;
    }
  }

  &[type=inline] {
    .@{prefix}-@{radio-prefix}-item  {
        & > span {
          display: inline-block;
          width: 60px;
          height: 30px;
          border-radius: 3px;
          line-height: 30px;
          text-align: center;
          border: 1px solid @theme-color;
          color: @theme-color;
        }
      & + .@{prefix}-@{radio-prefix}-item {
        margin-left: 5px;
      }
    }
    & :checked ~ span {
      background-color: @theme-color;
      border-color: @theme-color;
      color: #fff;
    }
  }
}

