@import "../../_variable.less";

@picture-wall-prefix: picture-wall;

.@{prefix}-@{picture-wall-prefix} {

  .mc-picture-item{
    display: inline-block;
    width: 80px;
    height: 80px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
