
body {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #eee;
    padding-bottom: 200px;
}

section {
    padding: 16px;
    border-radius: 8px;
    background: #f9f9f9;
    margin-bottom: 24px;
}

section h2 {
    color: #333;
    margin: 8px 0;
}

.mc-select {
  margin-bottom: 16px;
}

button[class^=dialog-] {
  display: inline-block;
  padding: 12px;
  border: 1px solid #999;
  border-radius: 5px;
  background: #fff;
  margin: 8px;
}


.dialog-bind-fail .complex-btn.cancel {
  color: #888;
}
