@import "../../_variable.less";

@calendar-prefix: mc-calendar;

/**
 * 确认窗样式
 */
.confirm-dialog {
}
.confirm-dialog button {
  width: 50%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.confirm-dialog button + button {
  border-left: 1px solid @border-color;
}

.confirm-dialog .cancel-btn {
  color: #333;
}
