@import "../../_variable.less";

@general-prefix: dialog-general;

/**
 * 通用弹窗样式 alert confirm
 */
.@{prefix}-@{general-prefix} {
  width: 250px;
  .dialog-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .dialog-content-text {
    padding: 10px;
  }
  .dialog-button-group {
    width: 100%;
    font-size: 0;
    text-align: center;
    border-top: 1px solid @border-color;
  }
  button {
    display: inline-block;
    height: 40px;
    border: none;
    background: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    outline: 0;
    color: @theme-color;
  }
}
