@import "../../_variable.less";
@loading-prefix: dialog-loading;

.@{prefix}-@{loading-prefix} {
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, .5);

  @radius: 20px;
  @dot-width: 5px;
  @dot-height: 12px;
  i {
    background-color: #fff;
    width: @dot-width;
    height: @dot-height;
    margin: 0;
    border-radius: @dot-width / 2;
    animation-fill-mode: both;
    position: absolute;
  }
  p {
    text-align: center;
    color: #fff;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .loop( @count )when( @count > 0 ){
    i:nth-child(@{count}){
      @delay: .1s * @count;
      top: 60px - @dot-height / 2 + @radius * sin(360deg / 12 * @count);
      left: 75px - @dot-width / 2 + @radius * cos(360deg / 12 * @count);
      transform: rotate(360deg / 12 * @count - 90deg);
      animation: ball-spin-fade-loader 1s @delay infinite linear;
    }
    .loop((@count - 1));
  }
  .loop(12);
}

@keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

